[submodule "frontend"]
	path = frontend
	url = git@github.com:mixnjuice/frontend.git
[submodule "api"]
	path = api
	url = git@github.com:mixnjuice/api.git
[submodule "proxy"]
	path = proxy
	url = git@github.com:mixnjuice/proxy.git
